@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

.about-me {
    min-height: 100vh;
    background: #fdfdfd;
    margin: 0;
    /*max-width: 1200px;*/

        /* margin auto é interpretada apenas no eixo horizontal */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.about-me__div-title {
    width: 30rem;
    height: 100vh;
    margin-top: 10rem;
    margin-right: 3rem;
    padding: 0;
}

#about-me__title {
    color: blueviolet;
    border-right: solid 2px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    margin-left: 8rem;
    margin-top: 20rem;
    margin-right: 0rem;
    padding-right: 2em;
    text-align: left;
}

.about-me__content {
    margin: 8rem 8rem 0 4rem;
}

.about-me p {
    
    margin-bottom: 1.4em;
    text-align: justify;
    text-indent: 0em;
    font-size: 1.1em;
}

.about-me .about-me__profilepic {
    margin-left: 5em;
    margin-bottom: 5em;
    float: right;
}

.about-me .about-me__profilepic img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow:  0 0 2em rgba(49, 49, 49, 0.596);
}

.studying {
    margin-top: 5.65em;
}

#studying__title {
    color: blueviolet;
    font-size: 1.65em;
    font-weight: bold;
}

.studying__tech {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
}

.studying__tech__img {
    width: 128px;
}

.studying__tech__sub {
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(81, 0, 158);
    
}

@media screen and (min-width: 0 ) {
    .about-me {
        display: block;
        text-align: center;
    }

    .about-me__div-title {
        height: auto;
        margin: 0;
        padding-top: 6em;
        width: 100%;
    }

    #about-me__title {
        border: none;
        color: blueviolet;
        font-family: 'Ubuntu', sans-serif;
        font-size: 2em;
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .about-me .about-me__profilepic {
        align-items: center;
        margin: 0;
        margin-left: 2em;
        padding: 0;
    }

    .about-me .about-me__profilepic img {
        width: 180px;
        height: 180px;
        margin-bottom: 1em;
        padding: 0;
    }

    .about-me__content {
        margin: 2rem;
    }

    .studying__tech__img {
        width: 64px;
    }

}

@media screen and (min-width: 768px) {
    
    .studying__tech__img {
        opacity: 0.7;
        transition: 0.3s;
        width: 128px;
    }

    .studying__tech__img:hover  {
        opacity: 1;
        transform: scale(1.1);
    }

}

@media screen and (min-width: 910px ) {
    
    .about-me p {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 1280px) {
    .about-me {
        min-height: 100vh;
        background: #fdfdfd;
        margin: 0;
        /*max-width: 1200px;*/
    
            /* margin auto é interpretada apenas no eixo horizontal */
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    
    .about-me__div-title {
        width: 30rem;
        height: 100vh;
        margin-top: 10rem;
        margin-right: 3rem;
        padding: 0;
    }
    
    #about-me__title {
        color: blueviolet;
        border-right: solid 2px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 3em;
        margin-left: 8rem;
        margin-top: 20rem;
        margin-right: 0rem;
        padding-right: 2em;
        text-align: left;
    }

    .about-me .about-me__profilepic {
        margin-left: 5em;
        margin-bottom: 5em;
        float: right;
    }
    
    .about-me .about-me__profilepic img {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        box-shadow:  0 0 2em rgba(49, 49, 49, 0.596);
    }
    
    .about-me__content {
        margin: 8rem 15em 10em 4rem;
    }
    
    .about-me p {
        margin-bottom: 1em;
        text-align: justify;
        text-indent: 0em;
        font-size: 1.3em;
    }
    
}