.contact {
    background: #393939;
    display: flex; 
    margin: 0;
    min-height: 100vh;
    padding: 0;
    align-items: center;
}


.contact__div-title {
    width: 50vw;

}

#contact__title {
    color: #00ed7e;
    font-family: 'Ubuntu', sans-serif;
}

.social-links {
    padding-left: 10%;
    width: 50vw;
}

.social-links nav ul li a{
    text-shadow: none;
}
 
.social-links nav {
    display: block;
    
}

.social-links nav ul {
    list-style: none;
    padding-inline-start: 0px;
}

.social-links nav li {
	display: block;
    
}

.social-links nav a {
	text-decoration: none;
    color: #f4f4f4;
    display: flex;
    align-items: center;
    font-weight: 400;
    padding: 10px;
    font-size: 28px;
    border-radius: 6px;
    transition: 0.3s;
}



.social-links nav img {
    margin-right: 25px;
}

@media screen and (min-width: 0 ) {
    
    .contact {
        flex-direction: column;
    }

    #contact__title {
        font-size: 1.5em;
        padding-bottom: 2em;
        padding-top: 2em;
        text-align: center;
    }

    .social-links nav a {
        font-size: 18px;
    }   

    .social-links nav img {
        width: 40px;
    }
    
}

@media screen and (min-width: 992px) {

    .contact {
        flex-direction: row;
    }

    #contact__title {
        font-size: 3em;
        padding-right: 10%;
        text-align: right;
    }

    .social-link:hover {
        color: #00ed7e;
    }

    .social-links nav a {
        font-size: 32px;
    }  

    .social-links nav img {
        width: 80px;
    }
} 